
* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:1fr 4fr;
    height: 90vh;
}

.sidebar{
    background-color: #1fb6ff;
    grid-row: span 2;
    display:grid;
    
}

.header{
    background-color: white;
}

.content {
    background-color: #d3dce6;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    grid-row: span 2;
}

img{
    width: 40px;
    object-fit: cover;
    
    
}

.sidebar > div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    /* color: white; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}